.about-section {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}

.header-about-container {
    flex-basis: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;

}

.about-p {
    font-size: 18px;
    max-width: 800px;
    text-align: left;
    margin: 0 auto;
    padding: 20px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.about-p li {
    list-style-type: disc;
    margin-left: 20px;
}

.store-map {
    display: flex;
    flex-direction: row;

    flex-basis: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    .branches {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: em(100px);
        flex-basis: 100%;
        max-width: calc(50% - 20px);
        margin-left: 20px;
    }
    
}


.branches-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.branches  {
    margin: 10px 0;
    li{
        list-style: none;

    }
}

// .btn-branches button {
//     background-color:$clr3;
//     color: #fff;
//     border: none;
//     padding: 12px 24px;
//     cursor: pointer;
//     font-size: 18px;
//     width: 100%;
//     border-radius: 5px;
//     transition: background-color 0.3s;
// }

// .btn-branches button:hover {
//     background-color: #2980b9;
// }