.app-header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background: $clr3;
    color:$clr7;

    padding: em(16px);
    border-radius: em(8px);
    font-family: 'Righteous', cursive;
    nav {
        border: 1px solid ;
        border-radius: 20px;
        a {
            display: inline-block;
            padding: 0.5em 1em;
            text-decoration: none;
            color: $clr7;
        }
    }
    
    .logout-btn{
        border: none;
        color: $clr7;
        background:$clr3 ;
        margin-right: em(5px);
    }

    .fa-solid:hover{
        
        color: $clr2;
    }

}