.chat {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: $clr0;
    border: 1px solid $clr14;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    .chat-title {
        font-size: em(16px);
        color: $clr12;
        font-family: 'Indie Flower', cursive;
    }

    .chat-form {
        display: flex;
        align-items: center;
        gap: em(10px);

        input {
            flex: 1;
            padding: 10px;
            border: 1px solid $clr4;
            border-radius: 5px;
            outline: none;
        }

        .chat-btn{
            @include btn();
            font-size: small;
        }
    }

    .chat-ul{
        list-style: none;
        padding: 0;
        margin-top: em(20px);

        li {
            background-color: #fff;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
          }
    }

}