/* Default styles for .toy-list and .toy-filter */
.toy-list,
.toy-filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  list-style-type: none;
  padding: 0;
  font-family: 'Righteous', cursive;
}

.toy-filter {
  background-color: var(--clr4);
  min-width: 450px;
  max-height: 350px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px #ccc;
  margin-bottom: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

/* Media query for screens up to 1260px */
@media screen and (max-width: 1260px) {

  .toy-list,
  .toy-filter {
    grid-template-columns: repeat(2, 1fr);
    /* Adjust grid columns for medium screens */
  }
}

/* Media query for screens under 768px */
@media screen and (max-width: 768px) {

  .toy-list,
  .toy-filter {
    grid-template-columns: repeat(1, 1fr);
    /* Adjust grid columns for small screens */
  }

  .toy-filter {
    min-width: auto;
    /* Reset min-width */
    max-height: auto;
    /* Reset max-height */
    display: block;
    /* Reset flex display */
    margin: 0;
    /* Reset margin */
  }

  .toy-filter>* {
    margin-bottom: 20px;
    /* Add margin between items */
  }
}

/* Media query for screens under 500px */
@media screen and (max-width: 500px) {
  .toy-filter {
    /* Further adjustments for very small screens if needed */
  }
}