.toy-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  list-style-type: none;
  padding: 0;
  font-family: 'Righteous', cursive;

}

.toy-preview {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting-buttons {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-name-toy {
  border: black solid 1px important;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Righteous', cursive;
  margin-top: 10px;
  gap: 15px;
}

.btn-price-toy {
  border: black solid 1px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Righteous', cursive;
  margin-top: 10px;
}

.remove-btn {
  background-color: #ff5050;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px;
}

.remove-btn:hover {
  background-color: #9f1f1f;
}

.edit-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px;
}

.edit-btn:hover {
  background-color: #0056b3;
}