.main-layout {
    display: flex;
    flex-direction: column;
    // grid-template-columns: $layoutPadding 1fr $layoutPadding;

    >*.full {
        grid-column: 1 / -1;
    }

    // >*:not(.full) {
    //     grid-column: 2;
    //     display: grid;
    //     grid-auto-flow: dense;
    //     // grid-template-columns: repeat(3, 1fr);
    // }
}


@include for-mobile-layout {
    
    .toy-preview {
        width: 20em;
        margin: 5px;
    }

    .toy-filter {
        flex-direction: column;
        justify-content: space-around;
        align-items: center // margin-bottom: 20px;
            /* Add margin between items */
    }

    .toy-list {
        grid-template-columns: repeat(1, 1fr);

    }

    .app-header{
        flex-direction: column;
    }
}

@include for-narrow-layout {

    .toy-preview {
        width: 17em;
        margin: 5px;
    }

    .toy-list {
        grid-template-columns: repeat(2, 1fr);

    }
}


@include for-normal-layout {
    .toy-preview {
        width: 17em;
        margin: 5px;
    }

    .toy-list {
        grid-template-columns: repeat(3, 1fr);

    }
}

@include for-wide-layout {
    
    
    .toy-list {
        grid-template-columns: repeat(4, 1fr);

    }
}
@include for-X-wide-layout {
    
    
    .toy-list {
        grid-template-columns: repeat(5, 1fr);

    }
}


// body {
//     @include for-normal-layout{
//         background-color: palevioletred;
//     }
// }


.main-text {
    margin-bottom: rem(90px);
}