.div-container {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.custom-h3 {
    color: #333;
    font-family: 'Chakra Petch', sans-serif;
}

.custom-main {
    margin-top: 20px;
}


.btn-add-toy {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Righteous', cursive;

}

.btn-add-toy:hover {
    background-color: #0056b3;
}